.content {
    display: flex;
    justify-content: center;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: space-between;
}

.buttons{
    display: inline;
    
}
